{% extends 'mainapp/base.html' %}

{% block contents %}
<style>

</style>





<div class="product-page">        
    <div class="product-content">
        <div class="thumbnail-gallery">
            {% if product.product_main_image %}
            <img class="thumbnail active" src="{{ product.product_main_image.url }}" alt="Thumbnail 1">
        {% endif %}
        {% if product.product_image_1 %}
            <img class="thumbnail" src="{{ product.product_image_1.url }}" alt="Thumbnail 1">
        {% endif %}

        {% if product.product_image_2 %}
            <img class="thumbnail" src="{{ product.product_image_2.url }}" alt="Thumbnail 1">
        {% endif %}
        {% if product.product_image_3 %}
            <img class="thumbnail" src="{{ product.product_image_3.url }}" alt="Thumbnail 1">
        {% endif %}
        
        {% if product.product_image_4 %}
            <img class="thumbnail" src="{{ product.product_image_4.url }}" alt="Thumbnail 1">
        {% endif %}

        {% if product.product_image_5 %}
            <img class="thumbnail" src="{{ product.product_image_5.url }}" alt="Thumbnail 1">
        {% endif %}
        
        {% if product.product_image_6 %}
            <img class="thumbnail" src="{{ product.product_image_6.url }}" alt="Thumbnail 1">
        {% endif %}

        {% if product.product_image_7 %}
            <img class="thumbnail" src="{{ product.product_image_7.url }}" alt="Thumbnail 1">
        {% endif %}
        
        {% if product.product_image_8 %}
            <img class="thumbnail" src="{{ product.product_image_8.url }}" alt="Thumbnail 1">
        {% endif %}

        {% if product.product_image_9 %}
            <img class="thumbnail" src="{{ product.product_image_9.url }}" alt="Thumbnail 1">
        {% endif %}
        
        {% if product.product_image_10 %}
            <img class="thumbnail" src="{{ product.product_image_10.url }}" alt="Thumbnail 1">
        {% endif %}
        </div>
        <div class="product-info">
            <h1 class="product-name">Xiaomi Readmi Note 12 Pro</h1>
            <p class="product-article">Артикул: 361</p>
            <p class="product-price">Цена: 369 грн</p>
            <p class="discounted-price">Специальная цена: 100.00 грн</p>
            <p class="product-category">Категория: Smartfons</p>
        </div>
    </div>
    <div class="product-main-image">
        <img src="{{ product.product_main_image.url }}" alt="{{ product.product_name }}">
    </div>
    <div class="product-description">
        <h2>Описание товара</h2>
        <p>{{ product.product_description }}</p>
    </div>
    <div class="additional-info">
        <h2>Дополнительные детали</h2>
        <div class="additional-details">
            <div class="product-description">
                {{ product.product_description }}
            </div>
        </div>
    </div>
    <div class="product-actions">
        <!-- Ваши элементы для выбора способа оплаты и кнопок "Добавить в корзину" и "Заказать" -->
    </div>
    {% endif %}

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        var mainImageUrl = $(".product-image img").attr("src");

        $(".thumbnail-gallery .thumbnail").click(function(e) {
            e.preventDefault();
            var newImageUrl = $(this).attr("src");
            $(".product-image img").attr("src", newImageUrl);
            $(".thumbnail").removeClass("active");
            $(this).addClass("active");
        });

        $(".product-image img").click(function() {
            $(".product-image img").attr("src", mainImageUrl);
            $(".thumbnail").removeClass("active");
        });
    });
</script>
{% endblock contents %}
