{% extends 'mainapp/base.html' %}


{% block links %}

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

{% endblock %}


{% block styles %}
.categories-container {
display: flex;
flex-wrap: wrap;
gap: 20px;
margin-top: 100px;
justify-content: start;
}

.category-item {
position: relative;
flex-basis: calc(23% - 40px);
padding: 20px;
background-color: #f5f5f5; /* Более приятный фон */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 10px; /* Более круглые углы */
transition: transform 0.2s ease, box-shadow 0.2s ease;
min-width: 240px;
margin-bottom: 40px; /* Уменьшим отступ снизу */
text-decoration: none;
color: #333; /* Цвет текста ссылки */
}

.category-item img {
width: 100%;
height: 200px;
object-fit: cover;
border-radius: 10px; /* Более круглые углы для изображения */
transition: filter 0.2s ease;
}

.category-item span {
display: block;
font-size: 18px; /* Увеличим размер текста */
font-weight: bold;
margin-top: 10px;
color: #555; /* Цвет текста категории */
}

.category-item p {
overflow: hidden;
text-overflow: ellipsis;
font-size: 14px;
color: #777; /* Цвет текста описания категории */
}

.category-item:hover {
background-color: #ffeedd;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Увеличим тень при наведении */
transform: translateY(-5px) scale(1.02); /* Немного увеличим карточку при наведении */
}

.categories-container:hover .category-item:not(:hover) {
transform: translateY(0);
}











/* Стили для слайдера */
.swiper {
width: 100%;
z-index: 0;
background-color: #f0f0f0;
}

.swiper-wrapper {
width: 100%;
}

.swiper-slide {
width: 100%;
height: 400px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-color: #f0f0f0;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
display: flex;
justify-content: center;
align-items: center;
font-size: 24px;
color: #333333;
}

/* Если нужны точки пагинации, измените их стили здесь */
.swiper-pagination-bullet {
width: 10px;
height: 10px;
background-color: #888888;
}

.swiper-pagination-bullet-active {
background-color: #ff4500;
}

/* Если нужны кнопки навигации, измените их стили здесь */
.swiper-button-prev,
.swiper-button-next {
color: #333333;
font-size: 30px;
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
color: #ff4500;
}

/* Если нужен скроллбар, измените его стили здесь */
.swiper-scrollbar {
background-color: #f0f0f0;
}

.swiper-scrollbar-drag {
background-color: #888888;
}


/* Стили для отображения сообщения "No subcategories available." */
.no-subcategories {
display: flex;
justify-content: center;
align-items: center;
height: 200px;
background-color: #f9f9f9;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.no-subcategories p {
font-size: 24px;
font-weight: bold;
color: #555;
text-align: center;
padding: 20px;
border: 2px dashed #ccc; /* Добавим пунктирную границу для эффекта */
border-radius: 10px;
}
/* Шрифты из Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Общие стили для "хлебных крошек" */
.breadcrumb {
margin-bottom: 20px;
background-color: #f9f9f9;
padding: 15px;
border-radius: 5px;
}

.category-path {
display: flex;
flex-wrap: wrap;
align-items: center;
font-family: 'Montserrat', sans-serif;
font-size: 17px;
list-style: none;
padding: 0;
margin: 0;
text-align: left;
}

.category-path__link {
color: #333333; /* Темно-серый цвет текста */
text-decoration: none;
position: relative;
display: inline-block;
padding: 10px 15px;
transition: color 0.3s, font-weight 0.3s; /* Добавим переход для изменения жирности текста */
margin-right: 10px;
width: auto; /* Зададим авто-ширину для ссылок, чтобы они подстраивались под контент */
}

.category-path__link::before {
content: '';
position: absolute;
bottom: -2px;
left: 0;
width: 100%;
height: 2px;
background-color: #ff4500; /* Оранжевый цвет линии снизу */
transform: scaleX(0);
transform-origin: right;
transition: transform 0.3s ease;
}

.category-path__link:hover::before {
transform: scaleX(1);
transform-origin: left;
}

.category-path__link:hover {
color: #ff4500; /* Оранжевый цвет текста при наведении */

cursor: pointer; /* Изменим курсор при наведении на текст, чтобы показать, что на него можно нажать */
}

.category-path__separator {
color: #999; /* Серый цвет для разделителя */
margin: 0 8px;
white-space: nowrap;
}

.category-path__current {
font-weight: bold;
color: #222; /* Черный цвет для текущего элемента */
}

/* Стиль для первой ссылки */
.category-path__link:first-child {
text-transform: capitalize;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
.breadcrumb {
padding: 10px;
}

.category-path {
font-size: 16px;
}

.category-path__link {
font-size: 16px;
padding: 6px 10px;
}

.category-path__separator {
margin: 0 6px;
}
}



.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(298px, 0fr));
  gap: 13px;
  max-width: 100%;
  margin-bottom: 81px;
}

.product-item {
  text-decoration: none;
  position: relative;
  background-color: #f8f8f8;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 310px;
  max-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.product-item img {
  width: 100%;
  height: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.product-details {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
  text-decoration: none;
}

.product-info {
  margin-top: auto;
}

.product-price {
  font-size: 1.1rem;
  color: #e74c3c;
  margin-top: auto; /* Изменили на auto */
}

.product-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background-color: #f8f8f8;

  border-top: none;
}

.buy-button,
.cart-button {
  flex: 1;
  padding: 12px;
  text-align: center;
  background-color: #e74c3c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.2s ease, background-color 0.2s ease;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}

.buy-button:last-child,
.cart-button:last-child {
  margin-right: 0;
}

.buy-button:hover,
.cart-button:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}

.product-buttons .cart-button {
  background-color: #3498db;
}

.product-buttons .cart-button:hover {
  background-color: #2980b9;
}







{% endblock styles %}

{% block contents %}

<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        {% for swiper_image in swiper_images %}

        <div class="swiper-slide" style="background-image: url('{{ swiper_image.image.url }}')"></div>
        {% endfor %}
        <!-- Add more slides here -->
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>


<div class="breadcrumb">
    <ul class="category-path">
        <li><a class="category-path__link" href="{% url 'home' %}">Home</a></li>
        {% for cat in category.get_ancestors %}
        <li class="category-path__separator">/</li>
        <li><a class="category-path__link" href="{% url 'get_subcategories' category_slug=cat.category_slug %}">{{cat.category_name }}</a></li>
        {% endfor %}
        <li class="category-path__separator">/</li>
        <li><span class="category-path__current">{{ category.category_name }}</span></li>
    </ul>
</div>

{% if subcategories %}
<h1>Subcategories</h1>
<div class="categories-container">
    {% for subcategory in subcategories %}
    <a href="{% url 'get_subcategories' subcategory.category_slug %}" class="category-item">
        <img src="{{ subcategory.category_image.url }}" alt="{{ category.category_name }}">
        <span>{{ subcategory.category_name }}</span>
        <p>{{ subcategory.category_description }}</p>
    </a>
    {% endfor %}
</div>
{% else %}
<div class="no-subcategories">
    <p>No subcategories available.</p>
</div>
{% endif %}


<h1>Products</h1>
<div class="product-container">
  {% if products %}
    {% for product in products %}
    <a href='{% url 'product_details' product_slug=product.product_slug %}' class="product-item">
        <img src="{{ product.product_main_image.url }}" alt="{{ product.product_name }}">
        <div class="product-details">
            <span class="product-name">{{ product.product_name }}</span>
            <div class="product-info">
                <span class="product-price">Price: ${{ product.product_price }}</span>
            </div>
            <div class="product-buttons">
                <button class="buy-button">Buy</button>
                <button class="cart-button">Cart</button>
            </div>
        </div>
    </a>
    {% endfor %}
  {% else %}
    <p>No products available.</p>
  {% endif %}
</div>


<!-- Include Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    // Используем самозапускающуюся функцию для избежания конфликтов с другими скриптами
    (function() {
        // Инициализируем Swiper
        const swiper = new Swiper('.swiper', {
            // Основные параметры
            loop: true, // Зацикливание слайдов
            slidesPerView: 1, // Количество видимых слайдов
            spaceBetween: 20, // Расстояние между слайдами (в пикселях)
            speed: 500, // Скорость переключения слайдов (в миллисекундах)
            // Пагинация
            pagination: {
                el: '.swiper-pagination', // Элемент для пагинации
                clickable: true, // Включить возможность переключения слайдов через пагинацию
            },
            // Навигация стрелками
            navigation: {
                nextEl: '.swiper-button-next', // Элемент для кнопки "Следующий слайд"
                prevEl: '.swiper-button-prev', // Элемент для кнопки "Предыдущий слайд"
            },
            // Скроллбар
            scrollbar: {
                el: '.swiper-scrollbar', // Элемент для скроллбара
            },
        });
    })();
</script>


{% endblock %}
