{% extends 'mainapp/base.html' %}


{% block title %}Корзина - Electronics Store{% endblock %}

{% block styles %}


/* Styles for the "Checkout" button */
.checkout-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.checkout-button:hover {
    background-color: #45a049;
}

/* Styles for the shopping cart page */
.cart-page__title {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

.cart-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.cart-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.cart-item__image {
    max-width: 150px;
    max-height: 150px;
    margin-right: 20px;
    border-radius: 10px;
}

.cart-item-details {
    flex: 1;
    font-size: 18px;
}

.cart-item__name {
    font-weight: bold;
    font-size: 24px;
    display: block;
    margin-top: 10px; /* Display each piece of information on a new line */
}

.cart-item__price {
    color: #ff5733;
    font-size: 20px;
    margin-top: 10px;
    display: block; /* Display on a new line */
}

.cart-item__quantity-container {
    display: flex;
    align-items: center;
}

.cart-item__quantity-label {
    font-size: 18px;
    margin-right: 10px;
}

.cart-item__quantity-input {
    width: 80px;
    font-size: 20px;
}

.cart-item__remove-button {
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.cart-item__remove-button:hover {
    background-color: #ff1a00;
}

/* Styles for the payment method dropdown and button */
#payment-method {
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
}

#submit-payment {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

#submit-payment:hover {
    background-color: #45a049;
}

{% endblock %}

{% block contents %}



<h1 class="cart-page__title">Cart</h1>
<div class="cart-container">
    {% for item in cart_items %}
    <div class="cart-item">
        <img src="{{ item.product.product_main_image.url }}" alt="{{ item.product.product_name }}"
             class="cart-item__image">
        <div class="cart-item-details">
            <span class="cart-item__name">{{ item.product.product_name }}</span>
            <span class="cart-item__price">Price: ${{ item.product.product_price }}</span>
            <div class="cart-item__quantity-container">
                <span class="cart-item__quantity-label">Quantity:</span>
                <form id="quantity-update-form">
                    <input type="number" class="cart-item__quantity-input" name="quantity" value="{{ item.quantity }}"
                           min="1" data-product-id="{{ item.product.product_id }}">
                </form>
            </div>
        </div>
        <button class="cart-item__remove-button" data-product-id="{{ item.product.product_id }}">Remove from Cart</button>
    </div>
    {% endfor %}
</div>
<button onclick="window.location.href = '{% url 'payment_form' %}'" id="submit-payment">Submit Payment</button>



<script>
    // Функция для получения значения cookie по имени
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

// Функція для перезавантаження сторінки
function reloadPage() {
    location.reload();
}

document.querySelectorAll('.cart-item__remove-button').forEach(button => {
    button.addEventListener('click', function() {
        const productId = this.getAttribute('data-product-id');

        // Отправте POST-запит на сервер для видалення товару
        fetch(`/cart/remove_from_cart/${productId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('Помилка HTTP: ' + response.status);
        })
        .then(data => {
            if (data.message) {
                const cartItem = this.closest('.cart-item');
                if (cartItem) {
                    cartItem.remove();
                    reloadPage(); // Після видалення товару, перезавантажте сторінку
                }
            } else {
                console.error('Не вдалося видалити товар: ' + data.error);
            }
        })
        .catch(error => {
            console.error('Сталася помилка:', error);
        });
    });
});

document.querySelectorAll('.cart-item__quantity-input').forEach(input => {
    input.addEventListener('change', function() {
        const productId = this.getAttribute('data-product-id');
        const newQuantity = this.value;

        // Send a PUT-like request to update the quantity in the cart
        fetch(`/cart/update_quantity/${productId}/${newQuantity}/`, {
            method: 'PUT',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            },
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('HTTP Error: ' + response.status);
        })
        .then(data => {
            if (data.message) {
                // Quantity updated successfully
                location.reload(); // Reload the page after a successful update
            } else {
                console.error('Failed to update quantity: ' + data.error);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
});


</script>


{% endblock %}



